# BuildBuddy
#build --bes_results_url=https://app.buildbuddy.io/invocation/
#build --bes_backend=grpcs://remote.buildbuddy.io
#try-import ./auth.bazelrc

###############################
# Filesystem interactions     #
###############################

build --disk_cache=~/.bazel/cache
build --repository_cache=~/.bazel/repo_cache

build --symlink_prefix=dist/

build --nolegacy_external_runfiles
run   --nolegacy_external_runfiles
test  --nolegacy_external_runfiles

build --incompatible_strict_action_env
run   --incompatible_strict_action_env
test  --incompatible_strict_action_env

build --enable_runfiles
run   --enable_runfiles
test  --enable_runfiles

###############################
# Bzlmod                      #
###############################

common --enable_bzlmod

# passes an argument `--skipLibCheck` to *every* spawn of tsc
# Bazel 6.4 or greater: 'common' means 'any command that supports this flag'
common --@aspect_rules_ts//ts:skipLibCheck=always

# Between Bazel 6.0 and 6.3, you need all of this, to avoid discarding the analysis cache:
build --@aspect_rules_ts//ts:skipLibCheck=always
fetch --@aspect_rules_ts//ts:skipLibCheck=always
query --@aspect_rules_ts//ts:skipLibCheck=always
